header {
    background-color: blue;
    /* position:fixed;
    width: 100%; */
    width: 100%;
    top: 0%;
    font-weight: bold;
}

header nav ul {
    margin: 0;
    padding: 10px 5px;
    list-style-type: none;
    display: flex;
    align-items: center;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
}

header nav ul li :hover{
    background-color: white;
    color: blue;
    border-radius: 15px;
    padding: 5px;
}
.logo {
    float: left;
    width: 40px;
    border-radius: 45%;
    border: 0.5px solid darkgreen;
    margin: 5px;
}

@media only screen and  (max-width:350px) and (min-width:200px) {
    header nav ul {
        margin: 0;
        padding: 10px 1px;
        font-size: 11px;
    }

    header nav ul li a{
        display: inline-block;
        padding: 1px;
        margin: 2px 15px;

    }
}

@media only screen and  (max-width:500px) and (min-width:350px) {
    header nav ul {
        margin: 0;
        padding: 10px 10px;
        font-size: 14px;
    }

    header nav ul li a{
        display: inline-block;
        padding: 1px;
        margin: 2px 15px;

    }
}

@media only screen and  (max-width:800px) and (min-width:500px) {
    header nav ul {
        margin: 0;
        padding: 10px 30px;
        font-size: 17px;
    }

    header nav ul li a{
        padding: 5px;
    }
}

@media only screen and  (max-width:1200px) and (min-width:800px) {
    header nav ul {
        margin: 0;
        padding: 10px 30px;
        font-size: 17px;
    }

    header nav ul li a{
        padding: 5px;
    }
}

@media only screen and  (max-width:1350px) and (min-width:1200px) {
    header nav ul {
        margin: 0;
        padding: 10px 30px;
        font-size: 18px;
    }

    header nav ul li a{
        padding: 5px;
    }
}